<template xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
    <div>
        <h2 class="align-content-center">Список номеров</h2>
        <div class="row mb-2">

            <div class="tight-gutter pl-3 mr-2">
                <Debounce :timeout="500" events="input">
                    <input type="text" class="form-control mr-3 search-line" placeholder="Поиск" v-model="search">
                </Debounce>
            </div>
            <div class="tight-gutter">
                <div class="input-group ">
                    <span class="pt-1 mr-2">Искать по:</span>
                    <div class="btn-group btn-group-toggle">

                        <label class="btn btn-outline-secondary" v-bind:class="{ active: searchType == 1 }">
                            <input type="radio" v-model="searchType" v-bind:value="1">
                            Номеру
                        </label>
                        <label class="btn btn-outline-secondary " v-bind:class="{ active: searchType == 2 }">
                            <input type="radio" v-model="searchType" v-bind:value="2">
                            Имени
                        </label>
                    </div>
                </div>
            </div>
            <div class="tight-gutter last-in-top-row pr-3">
                <button class="btn btn-outline-success " @click="showCreateModal()">Добавить</button>
                <button class="btn btn-outline-warning " @click="writeAllToFile()">Записать в файл</button>
            </div>

        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Имя</th>
                <th scope="col">Номер</th>
                <th scope="col">Действия</th>
            </tr>
            </thead>
            <tbody>

            <tr v-for='(item, index) in telephones' v-if="telephones.length !== 0">
                <td>{{item.id}}</td>
                <td>{{item.title}}</td>
                <td>{{item.number}}</td>
                <td>
                    <div class="row">
                        <button type="button" class="btn btn-outline-dark mr-2" @click="showEditModal(item)">
                            Редактировать
                        </button>
                        <button type="button" class="btn btn-outline-danger" @click="showDeleteModal(item)">Удалить
                        </button>
                    </div>
                </td>
            </tr>

            <tr v-else>
                <td colspan="5">Нет данных</td>
            </tr>
            </tbody>
        </table>



        <modal-component :title="alertTitle" :show.sync="alertDialog" @ok="cancel" @cancel="cancel">
            <div>
                <p>{{alertBody}}</p>
            </div>
        </modal-component>
        
        
        <modal-component title="Удаление" :show.sync="deleteDialog" @ok="deleteTelephone" @cancel="cancel">
            <div>
                <p>Вы действительно хотите удалить {{telephoneToDelete.title}} - {{telephoneToDelete.number}}?</p>
            </div>
            <div slot="title">Удаление</div>
        </modal-component>

        <modal-component title="Редактирование номера телефона" :show.sync="editDialog" @ok="editTelephone"
                         @cancel="cancel">
            <div>
                <div class="form-horizontal">
                    <h5 v-if="editValidator.serverValidationStatus == 'success' ">Данные сохранены</h5>
                    <h5 v-else-if="editValidator.serverValidationStatus == 'fail' ">Ошибка. Проверьте данные и повторите.</h5>
                    
                    <div class="form-group">
                        <label for="telephone_name">Имя</label>
                        <input v-model="telephoneToEdit.title" type="text"
                               v-bind:class="{ 'is-invalid': !editValidator.titleIsValid()}" class="form-control"
                               id="telephone_name" placeholder="Введите имя">
                        <div v-if="!editValidator.titleIsValid()" class="invalid-feedback">
                            Некорректное имя
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="telephone_number">Номер телефона</label>
                        <the-mask v-model="telephoneToEdit.number" :masked=true type="tel" class="form-control"
                                  v-bind:class="{ 'is-invalid': !editValidator.numberIsValid()}" id="telephone_number"
                                  placeholder="Введите номер" mask="!+# (###) ##-##-###"></the-mask>
                        <div v-if="!editValidator.numberIsValid()" class="invalid-feedback">
                            Некорректное номер
                        </div>
                    </div>

                </div>
            </div>
        </modal-component>

        <modal-component title="Добавление номера телефона" :show.sync="createDialog" @ok="createTelephone"
                         @cancel="cancel" okText="Создать">
            <div class="form-horizontal">
                <h5 v-if="createValidator.serverValidationStatus == 'success' ">Телефон успешно добавлен</h5>
                <h5 v-else-if="createValidator.serverValidationStatus == 'fail' ">Ошибка. Возможно, номер уже добавлен.</h5>

                <div class="form-group">
                    <label for="telephone_name">Имя</label>
                    <input v-model="telephoneToCreate.title" type="text" class="form-control"
                           v-bind:class="{ 'is-invalid': !createValidator.titleIsValid() && createTitleIsDirty}"
                           id="telephone_name" placeholder="Введите имя">
                    <div v-if="!createValidator.titleIsValid() && createTitleIsDirty" class="invalid-feedback">
                        Некорректное имя
                    </div>
                </div>

                <div class="form-group">
                    <label for="telephone_number">Номер телефона</label>
                    <the-mask v-model="telephoneToCreate.number" :masked=true type="tel" class="form-control"
                              v-bind:class="{ 'is-invalid': !createValidator.numberIsValid() && createNumberIsDirty}"
                              id="telephone_number" placeholder="Введите номер" mask="!+# (###) ##-##-###"></the-mask>
                    <div v-if="!createValidator.numberIsValid() && createNumberIsDirty" class="invalid-feedback">
                        Некорректное номер
                    </div>
                </div>

            </div>
        </modal-component>


    </div>


</template>

<script src="./list.ts"></script>
<style src="./list.css"></style>
