<template>
    <div>

        <h2>Окружение</h2>

        <ol>
            <li>Scala, SBT.<br />
                Инструкцию&nbsp;по установке для Ubuntu 18.04 можно найти&nbsp;<a href="http://www.codebind.com/linux-tutorials/install-scala-sbt-java-ubuntu-18-04-lts-linux/">здесь</a></li>
            <li>PostgreSQL<br />
                Инструкцию&nbsp;по установке для Ubuntu 18.04 можно найти&nbsp; <a href="https://hostadvice.com/how-to/how-to-install-postgresql-database-server-on-ubuntu-18-04/">здесь</a>&nbsp;</li>
            <li>Node и NPM<br />
                Инструкцию&nbsp;по установке для Ubuntu 18.04 можно найти&nbsp; <a href="https://linuxize.com/post/how-to-install-node-js-on-ubuntu-18.04/">здесь</a></li>
            <li><br />
                &nbsp;</li>
        </ol>

        <h2>Запуск</h2>
        <ol>
            <li>Клонировать <a href="https://github.com/fktrcttd/phonebook.git">репозиторий&nbsp;</a></li>
            <li>Перейти в папку проекта</li>
            <li>Отредактировать конфигурационный файл&nbsp;conf/application.conf. В самом конце этого файла необходимо сконфигурировать подключение к серверу PostgreSQL: укзать имя пользователя, пароль, в URL jdbc указать адрес размещения сервера в сети, имя базы данных, созданной ранее.&nbsp;</li>
            <li>Из командной строки выполнить команду &quot;npm run start&quot;.&nbsp;</li>
            <li>Приложение будет запущено по адресу http://localhost:9000/</li>
        </ol>

        <h2>Описание API</h2>
        <ol>
            <li>
                <pre>
                    GET     /api/phones - список всех номеров телефонов
                </pre>
            </li>
            <li>
                <pre>
                    GET     /api/phone/getById - получить информацию о телефоне по ИД
                    При успешном поиске возвращает 200 ОК
                    При отсутствии номера телефона с соответствующим Id вернет 404 NOT FOUND
                </pre>
            </li>
            <li>
                <pre>
                    GET     /api/phone/searchByName?term=... - поиск номеров по имени.
                    Работает как contains, а не startWith, без учета регистра. term - строка для поиска
                </pre>
            </li>
            <li>
                <pre>
                    GET     /api/phone/searchByNumber?term=... - поиск номеров по номеру телефона.
                    Работает как contains, а не startWith, без учета регистра. term - строка для поиска.
                    Ищет номера буквально, т.е. чтобы найти +7 (902) ... нужно ввести &quot;+7 (902)&quot; со всеми пробелами и символами.&amp;nbsp;
                </pre>
            </li>
            <li>
                <pre>
                    POST     /api/phone/create - метод создания номера телефона.
                    В body запроса необходим JSON-объект следующего формата
                    {
                    &nbsp; &nbsp; &quot;title&quot;: &quot;ww&quot;,
                    &nbsp; &nbsp; &quot;number&quot;: &quot;www&quot;
                    }
                    При успешном добавлении возвращает 200 ОК
                    При ошибке валидации (пустой title или неверный формат номера - НЕ +# (###) ##-##-###) вернет 400 BAD REQUEST
                </pre>
            </li>
            <li>
                <pre>
                    POST     /api/phone/id - редактирование номера телефона по Id. 
                    При успешном редактировании возвращает 200 ОК
                    При ошибке валидации (пустой title или неверный формат номера - НЕ +# (###) ##-##-###) вернет 400 BAD REQUEST
                    При отсутствии номера телефона с соответствующим Id вернет 404 NOT FOUND
                </pre>
            </li>
            <li>
                <pre>
                    DELETE     /api/phone/id  - удаление номера телефона по Id
                    При успешном удалении возвращает 200 ОК
                    При отсутствии номера телефона с соответствующим Id вернет 404 NOT FOUND
                </pre>
            </li>
            <li>
                <pre>
                    GET     /api/writeall  - асинхронно записывает все номера телефонов в файл AllPhones.json в папке public. 
                    Содержимое файла доступно по адресу /assets/AllPhones.json
                </pre>
            </li>
        </ol>
        
        <h2>Сценарии использования</h2>

        <ol>
            <li>Поиск: выберите параметр поиска радиокнопкой -&nbsp;номер телефона (по умолчанию)&nbsp;или имя, начните вводить символы в поисковую строку.
                <br/> Список будет обновляться по мере набора поискового запроса с небольшой задержкой (debounce). Важно: поиск по номеру работает буквально, т.е. чтобы найти +7 (902) ... нужно ввести &quot;+7 (902)&quot; со всеми пробелами и символами.&nbsp;
            </li>
            <li>Добавление: зеленая кнопка &quot;Добавить&quot; вызовет соответствующее модальное окно с валидируемыми полями. После отправки на сервер отобразиться результат в верхней части окна.&nbsp;По завершении (нажатие кнопки &quot;Создать&quot; список элементов будет обновлен)
            </li>
            <li>Запись в файл: по кнопке &quot;Записать в файл&quot; все данные справочника будут асинхронно записаны в файл AllPhones.json по пути &quot;проект&quot;/public/files/AllPhones.json. Результат операции отобразится в модальном окне.&nbsp;
            </li>
            <li>Список: просто список. Без пагинации, фильтрации, сортировки.&nbsp;</li>
            <li>Редактирование: по кнопке &quot;Редактировать&quot; откроется модальное окно с валидирумой формой. Результат отправки данных на сервер отобразится в верхней части окна. По завершении (нажатие кнопки &quot;Ок&quot; список элементов будет обновлен)
            </li>
            <li>Удаление: по кнопке &quot;Удаление&quot; будет вызвано модальное окно с подтверждением удаления записи.&nbsp;</li>
        </ol>

        <h2>Дополнительно</h2>
        
        <p>Приложение разбито на две части - frontend и backend.<br />
            Backend: Scala, Play framework 2. СУБД: PostgreSQL. ORM: Slick.&nbsp;<br />
            Frontend:&nbsp; Vue.js, Bootstrap 4. Реализован как одностраничное приложение ( single page application) - один HTML документ, все данные запрашиваются по AJAX без перезагрузки страниц.&nbsp;<br />
            <br />
            Что нравится:&nbsp;</p>

        
        <ul>
            <li>Реализация кэша - просто и кратко;</li>
            <li>Нравится как работает и выглядит фронтенд. Нравится, что получилось сделать SPA;</li>
        </ul>

        <p><br />
            Что можно улучшить:&nbsp;</p>
        <ul>
            <li>Фронтенд. Подробнее разбить на компоненты (сейчас один супер большой компонент - list.vue, который знает все обо всем)<br />
                Улучшить код (сейчас очень много булевых проверок для валидации и модальных окон)</li>
            <li>Можно улучшить код на бэкенде: создать интерфейсы для классов (для кэша, например), передавать через Dependecy Injection, убрать или переписать неиспользуемый код в FileAsyncIO&nbsp; (код с гитхаба, оставил так, как есть). Улучшить код с Future и ExecutionContext - делал по примерам, чтобы работало.&nbsp;</li>
            <li>Реализовать нереализованное: удаление записей через заданный промежуток времени после добавления&nbsp;</li>
            <li>Написать тесты.&nbsp;</li>
        </ul>
        
    </div>
</template>