<template>
    <div>
        <h2>Сценарии использования</h2>

        <ol>
            <li>Поиск: выберите параметр поиска радиокнопкой -&nbsp;номер телефона (по умолчанию)&nbsp;или имя, начните вводить символы в поисковую строку.
                <br/> Список будет обновляться по мере набора поискового запроса с небольшой задержкой (debounce). Важно: поиск по номеру работает буквально, т.е. чтобы найти +7 (902) ... нужно ввести &quot;+7 (902)&quot; со всеми пробелами и символами.&nbsp;
            </li>
            <li>Добавление: зеленая кнопка &quot;Добавить&quot; вызовет соответствующее модальное окно с валидируемыми полями. После отправки на сервер отобразиться результат в верхней части окна.&nbsp;По завершении (нажатие кнопки &quot;Создать&quot; список элементов будет обновлен)
            </li>
            <li>Запись в файл: по кнопке &quot;Записать в файл&quot; все данные справочника будут асинхронно записаны в файл AllPhones.json по пути &quot;проект&quot;/public/files/AllPhones.json. Результат операции отобразится в модальном окне.&nbsp;
            </li>
            <li>Список: просто список. Без пагинации, фильтрации, сортировки.&nbsp;</li>
            <li>Редактирование: по кнопке &quot;Редактировать&quot; откроется модальное окно с валидирумой формой. Результат отправки данных на сервер отобразится в верхней части окна. По завершении (нажатие кнопки &quot;Ок&quot; список элементов будет обновлен)
            </li>
            <li>Удаление: по кнопке &quot;Удаление&quot; будет вызвано модальное окно с подтверждением удаления записи.&nbsp;</li>
        </ol>

        <h2>Описание API</h2>
        <ol>
            <li>
                <pre>
                    GET     /api/phones - список всех номеров телефонов
                </pre>
            </li>
            <li>
                <pre>
                    GET     /api/phone/getById - получить информацию о телефоне по ИД
                    При успешном поиске возвращает 200 ОК
                    При отсутствии номера телефона с соответствующим Id вернет 404 NOT FOUND
                </pre>
            </li>
            <li>
                <pre>
                    GET     /api/phone/searchByName?term=... - поиск номеров по имени.
                    Работает как contains, а не startWith, без учета регистра. term - строка для поиска
                </pre>
            </li>
            <li>
                <pre>
                    GET     /api/phone/searchByNumber?term=... - поиск номеров по номеру телефона.
                    Работает как contains, а не startWith, без учета регистра. term - строка для поиска.
                    Ищет номера буквально, т.е. чтобы найти +7 (902) ... нужно ввести &quot;+7 (902)&quot; со всеми пробелами и символами.&amp;nbsp;
                </pre>
            </li>
            <li>
                <pre>
                    POST     /api/phone/create - метод создания номера телефона.
                    В body запроса необходим JSON-объект следующего формата
                    {
                    &nbsp; &nbsp; &quot;title&quot;: &quot;ww&quot;,
                    &nbsp; &nbsp; &quot;number&quot;: &quot;www&quot;
                    }
                    При успешном добавлении возвращает 200 ОК
                    При ошибке валидации (пустой title или неверный формат номера - НЕ +# (###) ##-##-###) вернет 400 BAD REQUEST
                </pre>
            </li>
            <li>
                <pre>
                    POST     /api/phone/id - редактирование номера телефона по Id. 
                    При успешном редактировании возвращает 200 ОК
                    При ошибке валидации (пустой title или неверный формат номера - НЕ +# (###) ##-##-###) вернет 400 BAD REQUEST
                    При отсутствии номера телефона с соответствующим Id вернет 404 NOT FOUND
                </pre>
            </li>
            <li>
                <pre>
                    DELETE     /api/phone/id  - удаление номера телефона по Id
                    При успешном удалении возвращает 200 ОК
                    При отсутствии номера телефона с соответствующим Id вернет 404 NOT FOUND
                </pre>
            </li>
            <li>
                <pre>
                    GET     /api/writeall  - асинхронно записывает все номера телефонов в файл AllPhones.json в папке public. 
                    Содержимое файла доступно по адресу /assets/AllPhones.json
                </pre>
            </li>
        </ol>
    </div>
</template>